.sl_divider {
	height: 2px;
	width: 100%;
	background-color: rgba(get-color(default),.25);
	margin: $spacing--md auto;

	&--space {
		height: 0;
		margin: $spacing--md auto;
	}//end &--space
}//end .sl_divider