.sl_breadcrumbs {
	&__container {
		margin-top: $spacing--xl;
		
		@include breakpoint (large only) {
			margin-top: $spacing--lg;
		}//end large only breakpoint

		@include breakpoint (small down) {
			margin-top: $spacing--md;
		}//end small down breakpoint
	}//end &__container

	li {
		margin-bottom: 0;
		line-height: 1;

		&:not(:last-child) {
			&:after {
				font-family: "Font Awesome 5 Pro";
				font-weight: $font-weight--bold;
			}//end &:after
		}//end &:not(:last-child)

		@include breakpoint (small down) {
			line-height: 1.5;
		}//end small down breakpoint

		a {
			color: get-color(secondary);
			font-weight: $font-weight--semibold;
		}//end a
	}//end li

	&__current {
		font-weight: $font-weight--semibold;
	}//end &__current

}//end .sl_breadcrumbs

body.home .sl_breadcrumbs {
	display: none;
}