{% if card.button_group == true %}
    <div class="sl_button-group">
{% endif %}
        {% for button in card.buttons %}
            {% if button.acf_fc_layout == 'Default Button'%}
                {% if this.acf_fc_layout == 'deck' or this.acf_fc_layout == 'carousel' %}
                <a id="{{this.acf_fc_layout}}{{post.id}}{{loop.parent.loop.parent.loop.index}}{{loop.index}}" href="{{button.button.url}}" target="{{button.button.target}}" class="sl_button sl_button--{{button.button_class}}">{{button.button.title}}</a>
                {% else %}
                <a id="{{this.acf_fc_layout}}{{post.id}}{{loop.parent.loop.index}}{{loop.index}}" href="{{button.button.url}}" target="{{button.button.target}}" class="sl_button sl_button--{{button.button_class}}">{{button.button.title}}</a>
                {% endif %}
            {% endif %}
            {% if button.acf_fc_layout == 'Modal Button'%}
                <a id="{{this.acf_fc_layout}}--{{post.id}}-{{loop.parent.loop.index}}-{{loop.index}}" data-open="{{button.modal_target}}" class="sl_button sl_button--{{button.button_class}}">{{button.title}}</a>
            {% endif %}
            {% if button.acf_fc_layout == 'Phone Button'%}
                <a id="{{this.acf_fc_layout}}--{{post.id}}-{{loop.parent.loop.index}}-{{loop.index}}" class="sl_button sl_button--phone sl_button--{{button.button_class}}" href="tel:{{option.phone.main}}" style="white-space:nowrap;">{% if button.cta_field == true %}{% endif %}<span class="sl_phone__cta">{{button.cta_text}} </span>{{option.phone.main}}</a>
            {% endif %}
        {% endfor %}
{% if card.button_group == true %}
    </div>
{% endif %}
