.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: get-color(accent1);
	min-height: 500px;
	display: flex;
	align-items: center;
	padding: $spacing--xxl 0 !important;

	@include breakpoint (small down) {
		background: get-color(accent1) !important;
		display: block;
		padding-top: $spacing--lg;
		padding-bottom: 225px !important;

		.sl_card {
			padding-bottom: $spacing--lg;
			text-align: center;
		}//end .sl_card
	}//end small down breakpoint

	&__background {
		@include breakpoint (small down) {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center 40%;
			position: absolute;
			bottom: 0;
			height: 225px;
			width: 100%;
		}//end small down breakpoint
	}//end &__background

	&:before {
		@include pseudo;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: linear-gradient(90deg, get-color(accent1) 40%, rgba(get-color(accent1), .3) 60%);

		@include breakpoint (small down) {
			display: none;
		}//end small down breakpoint
	}//end &:before

	&:after {
		@include pseudo;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		background-image: url(#{$path-img}wave-overlay.svg);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100%;

		@include breakpoint (small down) {
			display: none;
		}//end small down breakpoint
	}//end &:after

	h1 {
		font-weight: $font-weight--semibold;
		line-height: 1.1;
		margin-bottom: $spacing--sm;

		@include breakpoint (small down) {
			font-size: rem-calc(36px);
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end h1

	p {
		font-weight: $font-weight--semibold;
		font-size: 1.5rem;
		line-height: 1.4;
	}//end p

	.sl_card {
		max-width: 565px;
		.sl_button-group {
			justify-content: flex-start;
		}//end .sl_button-group
	}//end .sl_card
	
}//end .sl_module--billboard