.sl_location {
	.sl_inner {
		& > .sl_row {
			background-color: get-color(inverse);
			border-radius: $border-radius;
			overflow: hidden;
			box-shadow: $shadow;

			& > .sl_cell {
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	&__content {

		& * {
			font-family: $header-font-family;
		}//end & *
		p {
			font-size: 1.5rem;
			font-weight: $font-weight--bold;
		}//end p
	}//end &__content

	&__facility {
		font-size: rem-calc(36px);
		line-height: rem-calc(45px);
		color: get-color(primary);
		display: block;
		margin-bottom: $spacing--sm;
	}//end &__facility

	.sl_module__map {
		height: 100%;
		min-height: 350px;

		@include breakpoint (small down) {
			min-height: 300px;
		}//end small down breakpoint
	}//end .sl_module__map

	&--inverse {
		& > .sl_inner {

			& > .sl_row {
				background-color: get-color(inverse);
			}//end & > .sl_row
		}//end & > .sl_inner

		.sl_location__content {

			p {
				color: get-color(default);
			}//end p
		}//end &__content
	}//end &--inverse
	
}//end .sl_location