.sl_module {
	position: relative;
	padding-top: $spacing--xxl;

	@include breakpoint (large only) {
		padding-top: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-top: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-top: $spacing--md;
	}//end small down breakpoint

	&:last-of-type {
		padding-bottom: $spacing--xxl;

		@include breakpoint (large only) {
			padding-bottom: $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-bottom: $spacing--md;
		}//end small down breakpoint
	}//end &:last-of-type


	//UTILITY CLASSES
	&--notop {
		padding-top: 0;

		@include breakpoint (large only) {
			padding-top: 0;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: 0;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: 0;
		}//end small down breakpoint
	}
	&--withbottom {
		padding-bottom: $spacing--xxl;

		@include breakpoint (large only) {
			padding-bottom: $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-bottom: $spacing--md;
		}//end small down breakpoint
	}//end &--withbottom

 	&--notop-small {
 		@include breakpoint (small down) {
 			padding-top: 0 !important;
 		}//end small down breakpoint
 	}//end &--notop-small

 	&--nobottom-medium {
 		@include breakpoint (medium only) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
 	}//end &--nobottom-medium

	&--nobottom-small {
		@include breakpoint (small down) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
	}//end &--nobottom-small

	&--overlaptop {
		margin-top: -$spacing--xxl;
		padding-top: 0;
	}//end &--overlaptop

	&--underlaptop {
		margin-top: -$spacing--xxl;
		padding-top: $spacing--xxl + $spacing--xxl;

		@include breakpoint (large only) {
			padding-top: $spacing--xxl + $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: $spacing--xxl + $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: $spacing--xxl + $spacing--md;

			&.sl_module--notop-small {
				padding-top: 0;
				margin-top: 0;
			}//end .sl_module--notop-small
		}//end small down breakpoint
	}//end &--underlaptop

	&--primary {
		background-color: get-color(primary);
	}//end &--primary

	&--accent1 {
		background-color: get-color(accent1);
	}//end &--accent1

	&--accent2 {
		background-color: get-color(accent2);
	}//end &--accent1

	&--primary-inverse {
		&:after {
			@include pseudo;
			background-color: get-color(primary);
			top: 0;
			bottom: $spacing--lg;
			left: 0;
			right: 0;
		}//end &:after

		&:last-of-type, &.sl_module--withbottom {
			&:after {
				bottom: $spacing--lg + $spacing--xxl;
			}//end &:after
		}//end &:last-of-type, &.sl_module--with-bottom
	}//end &--primary-inverse

	&--inverse-primary {
		background: linear-gradient(180deg, get-color(inverse) 0%, get-color(inverse) $spacing--lg + $spacing--xxl, get-color(primary) $spacing--lg + $spacing--xxl);

		&.sl_duo {
			.sl_duo__content {
				padding-top: $spacing--lg;
			}//end .sl_duo__content
		}//end &.sl_duo
	}//end &--primary-inverse
}//end .sl_module