.sl_testimonial {
	.sl_inner {
		& > .sl_row {
			background-color: get-color(inverse);
			border-radius: $border-radius;
			overflow: hidden;
			box-shadow: $shadow;

			& > .sl_cell {
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	h2 {
		text-align: center;
		margin-bottom: $spacing--lg;
	}//end h2

	&__media {
		overflow: hidden;

		&__container {
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 300px;

			@include breakpoint (medium down) {
				order: 2;
			}//end medium down breakpoint

			@include breakpoint (small down) {
				min-height: 250px;
			}//end small down breakpoint
		}//end &__container

		&--video {
			.sl_testimonial__image {
				display: flex;
				align-items: center;
				padding: 0 $spacing--sm;
				justify-content: center;

			}//end .sl_testimonial__image
		}//end &--video
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}//end &__image

	&__content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: relative;
		padding: $spacing--md;

		@include breakpoint (medium down) {
			order: 1;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			flex: 0 0 auto;
			width: 100%;
			padding: $spacing--sm;
		}//end small down breakpoint

		.sl_button-group {
			justify-content: flex-start;
		}//end .sl_button-group

		.slick-track {
			display: flex;
			align-items: center;
		}
	}//end &__content

	&__controls {

		.slick-dots {
			display: block;
			margin: 0;

	        @include breakpoint (small only) {
	            text-align: center;
	        }//end small only breakpoint

	        li {
	            position: relative;
	            display: inline-block;
	            width: 16px;
	            height: 16px;
	            margin: 0 5px;
	            cursor: pointer;
	            margin-bottom: 0 !important;

	            @include breakpoint (small only) {
	                margin: 0 4px;
	                width: 12px;
	                height: 12px;
	            }//end small only breakpoint

	            &.slick-active {
	                button {
	                    background-color: get-color(default)
	                }//end button
	            }//end &.slick-active

	            button {
	                background-color: transparent;
	                border-radius: 50%;
	                font-size: 0;
	                line-height: 0;
	                display: block;
	                width: 16px;
	                height: 16px;
	                cursor: pointer;
	                border: 1.5px solid get-color(default);

	                @include breakpoint (small only) {
	                    width: 12px;
	                    height: 12px;
	                    border-width: 1px;
	                }//end small only breakpoint
	            }//end button
	        }//end li
	    }//end .slick-dots
	}//end &__controls

	&__slide {
	}//end &__slide

	&__quote {
		p {
			font-size: rem-calc(36px);
			font-weight: $font-weight--bold;
			font-family: $header-font-family;

			@include breakpoint (small down) {
				font-size: 1.5rem;
				}//end small down breakpoint
		}//end p
	}//end &__quote

	&__cite {
		font-size: rem-calc(21px);
		font-family: $header-font-family;
		color: get-color(primary);
		font-weight: $font-weight--bold;

		@include breakpoint (small down) {
			font-size: 1.125rem;
		}//end small down breakpoint

		p {
			margin-bottom: 0;
		}//end p
	}//end &__cite

	//TESTIMONIAL TYPES

	&.sl_duo--right {
		.sl_testimonial__media {
			order: 2;
		}//end .sl_testimonial__media

		.sl_testimonial__content {
			order: 1;
		}//end .sl_testimonial__content

		.sl_testimonial__slide {
			padding-left: 0;
			padding-right: $spacing--lg;

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint
		}//end .sl_testimonial__slide
	}//end &--right
}//.sl_testimonial