.sl_wysiwyg {
	.sl_inner {
	}//end .sl_inner

	&--contained {
		background: linear-gradient(180deg, get-color(primary) 0%, get-color(primary) 50%, get-color(inverse) 50%);
		.sl_card {
			border-radius: $border-radius;
			box-shadow: $shadow;
			background-color: get-color(inverse);
			padding: $spacing--xxl;

			@include breakpoint (large only) {
				padding: $spacing--xl
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--lg;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--lg $spacing--sm;
			}//end small down breakpoint
		}//end .sl_card
	}//end &--contained

	&--contained-inverse {
		.sl_card {
			border-radius: $border-radius;
			background-color: get-color(default);
			padding: $spacing--xxl;

			h1,h2,h3,h4,h5,h6,p,li {
				color: get-color(inverse)
			}//end h1,h2,h3,h4,h5,h6,p,li

			@include breakpoint (large only) {
				padding: $spacing--xl
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--lg;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--lg $spacing--sm;
			}//end small down breakpoint
		}//end .sl_card
	}//end &--contained
}//end .sl_wysiwyg